@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rental</h1>
    <img class ="img-fluid" src="https://d1i1eo6qmdfmdv.cloudfront.net/upload/site/pages/exotics_racing_LA/DSC0112s4j-2.jpg" />
    <form class="form-group">
        <br/>
        <button class="btn btn-info" asp-controller="Vehicles" asp-action="Index">Rent Today!</button>
    </form>

</div>
